.bidding-form {
    padding: 200px;
    width: 900px;
    margin: 0 auto;
    background: url('./images/art4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
    align-items: center;
}

.bidding-header {
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    color: #45a049;
}

.bidding-form h2 {
    font-size: 2.5em;
    margin-bottom: 5%;
    color:#000000;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #ffffff;
    border-radius: 10px 10px;
}

.bidding-current,
.bidding-form-section,
.bidding-history {
    margin-bottom: 30px;
}

.bidding-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.bidding-card {
    background: #ff0202;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.bidding-card h4 {
    font-size: 1.2em;
    color: #ff0000;
    margin: 0;
}

.bidding-card p {
    color: rgb(0, 255, 0);
    margin-top: 5px;
}

.no-bids,
.no-history {
    text-align: center;
    color: #888;
    font-size: 1.2em;
}

.bidding-form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bidding-form-section label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.bidding-form-section select,
.bidding-form-section input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bidding-form-section button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

.bidding-form-section button:hover {
    background-color: #45a049;
}

.bidding-history ul {
    list-style: none;
    padding: 0;
}

.bidding-history li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.bidding-history li:last-child {
    border-bottom: none;
}
