.new-artist-form {
    /* background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 40px auto; */
    padding: 200px;
    width: 900px;
    margin: 0 auto;
    background: url('./images/art6.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
    align-items: center;
}

.new-artist-form h2 {
    margin-bottom: 20px;
    color: #f40303;
    background-color: #ffffff;
    border-radius: 10px 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

.new-artist-form form {
    display: flex;
    flex-direction: column;
}

.new-artist-form input,
.new-artist-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-artist-form input[type="file"] {
    border: none;
}

.new-artist-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-artist-form button:hover {
    background-color: #45a049;
}
