/* src/SignUp.css */

html, body {
  margin: 0;
  padding: 3%;
  /* height: 100%; */
  font-family: 'Arial', sans-serif;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
  height: 100vh; /* Cover entire viewport height */
  padding: 0 20px;
}

.signup-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.form-column:last-child {
  margin-right: 0;
}

.signup-container label {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.signup-container input,
.signup-container select,
.signup-container textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.signup-container button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background-color: #00796b; /* Teal */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover {
  background-color: #004d40; /* Darker teal */
}

.clear-button {
  background-color: #ff5722; /* Red */
}

.clear-button:hover {
  background-color: #c62828; /* Darker red */
}
